#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
cardsContainer {
  display: flex;
  flex-direction: row;
}

card {
  border: '1px solid #ddd';
  border-radius: 2rem;
  max-width: '300px';
  box-shadow: '0 4px 8px rgba(0, 0, 0, 0.1)';
  padding: '16px';
  margin: '16px';
  text-align: 'center';
}

card-image {
  width: '100%';
  max-width: '200px';
  height: 'auto';
  border-radius: '4px';
  margin-bottom: '8px';
}

card-title {
  font-size: '1.2rem';
  font-weight: 'bold';
  margin: '0';
}

recommendation-message {
  display: flex;
  content-visibility: hidden;
  max-width: 20px;
  height: 'auto';

}